[alias]
  st = status
  ck = checkout
  lo = log
[core]
  editor = nvim
  pager = delta
  autocrlf = input
  excludesfile = ~/.gitignore
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[pull]
  rebase = false
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[diff]
  colorMoved = default
  tool = nvimdiff
  guitool = nvimdiff
[mergetool]
  keepBackup = false
  trustExitCode = false
  prompt = true
[difftool]
  prompt = false
[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"
